@{
    ViewBag.Title = "property";
}
<div class="modal hide" id="mapModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            Close</button>
    </div>
    <div class="modal-body">
        <iframe width="620" height="414" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=51.461311,+-0.303742&amp;aq=&amp;sll=51.587136,-0.085938&amp;sspn=0.009599,0.027874&amp;ie=UTF8&amp;t=m&amp;ll=51.461334,-0.303755&amp;spn=0.022139,0.053129&amp;z=14&amp;output=embed">
        </iframe>
    </div>
</div>
<div class="modal hide" id="streetModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            Close</button>
    </div>
    <div class="modal-body">
        <iframe width="620" height="414" src="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=51.45517130764651,-0.30019595762867435&amp;aq=&amp;sll=51.40191,-0.38229&amp;sspn=0.009692,0.027874&amp;ie=UTF8&amp;t=m&amp;layer=c&amp;cbll=51.45499,-0.300535&amp;panoid=RxBbTTBT6Uh_6ze7kq0kJQ&amp;cbp=13,70.35,,0,9.98&amp;ll=51.448631,-0.300493&amp;spn=0.022145,0.053215&amp;z=14&amp;output=svembed">
        </iframe>
    </div>
</div>
<div class="row">
    <div class="span8">
        <div class="row">
            <div class="span5">
                <h3>
                    5 bedroom house for sale</h3>
                <h6>
                    Queens Road</h6>
                <div id="people_viewing">
                    <strong>20 people are viewing this property right now!</strong></div>
            </div>
            <div class="span3 text-right">
                <h2>
                    &pound;6,500,000</h2>
            </div>
        </div>
        <div class="row">
            <br />
            <div class="span8">
                <!-- Start slideshow-carousel -->
                <div id="showcase-loader">
                </div>
                <div id="showcase" class="showcase">
                    <div class="showcase-slide">
                        <div class="showcase-content">
                            <img src="/content/css/images/gallery/room_0.jpg" alt="01" />
                        </div>
                        <div class="showcase-thumbnail">
                            <img src="/content/css/images/thumbnails/room_0.jpg" alt="01" />
                            <div class="showcase-thumbnail-cover">
                            </div>
                        </div>
                    </div>
                    <div class="showcase-slide">
                        <div class="showcase-content">
                            <img src="/content/css/images/gallery/room_1.jpg" alt="01" />
                        </div>
                        <div class="showcase-thumbnail">
                            <img src="/content/css/images/thumbnails/room_1.jpg" alt="01" />
                            <div class="showcase-thumbnail-cover">
                            </div>
                        </div>
                    </div>
                    <div class="showcase-slide">
                        <div class="showcase-content">
                            <img src="/content/css/images/gallery/room_2.jpg" alt="01" />
                        </div>
                        <div class="showcase-thumbnail">
                            <img src="/content/css/images/thumbnails/room_2.jpg" alt="01" />
                            <div class="showcase-thumbnail-cover">
                            </div>
                        </div>
                    </div>
                    <div class="showcase-slide">
                        <div class="showcase-content">
                            <img src="/content/css/images/gallery/room_3.jpg" alt="01" />
                        </div>
                        <div class="showcase-thumbnail">
                            <img src="/content/css/images/thumbnails/room_3.jpg" alt="01" />
                            <div class="showcase-thumbnail-cover">
                            </div>
                        </div>
                    </div>
                    <div class="showcase-slide">
                        <div class="showcase-content">
                            <img src="/content/css/images/gallery/room_4.jpg" alt="01" />
                        </div>
                        <div class="showcase-thumbnail">
                            <img src="/content/css/images/thumbnails/room_4.jpg" alt="01" />
                            <div class="showcase-thumbnail-cover">
                            </div>
                        </div>
                    </div>
                    <div class="showcase-slide">
                        <div class="showcase-content">
                            <img src="/content/css/images/gallery/room_5.jpg" alt="01" />
                        </div>
                        <div class="showcase-thumbnail">
                            <img src="/content/css/images/thumbnails/room_5.jpg" alt="01" />
                            <div class="showcase-thumbnail-cover">
                            </div>
                        </div>
                    </div>
                    <div class="showcase-slide">
                        <div class="showcase-content">
                            <img src="/content/css/images/gallery/room_6.jpg" alt="01" />
                        </div>
                        <div class="showcase-thumbnail">
                            <img src="/content/css/images/thumbnails/room_6.jpg" alt="01" />
                            <div class="showcase-thumbnail-cover">
                            </div>
                        </div>
                    </div>
                    <div class="showcase-slide">
                        <div class="showcase-content">
                            <img src="/content/css/images/gallery/room_7.jpg" alt="01" />
                        </div>
                        <div class="showcase-thumbnail">
                            <img src="/content/css/images/thumbnails/room_7.jpg" alt="01" />
                            <div class="showcase-thumbnail-cover">
                            </div>
                        </div>
                    </div>
                    <div class="showcase-slide">
                        <div class="showcase-content">
                            <img src="/content/css/images/gallery/room_8.jpg" alt="01" />
                        </div>
                        <div class="showcase-thumbnail">
                            <img src="/content/css/images/thumbnails/room_8.jpg" alt="01" />
                            <div class="showcase-thumbnail-cover">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // end of slideshow-carousel -->
            </div>
        </div>
        <div class="row">
            <br />
            <div class="span8">
                <h4>
                    Description</h4>
                <p>
                    Reflecting the status of this desirable destination a 4/5 bedroom townhouses at
                    Terrace Yard offers contemporary living in unmatched style and elegance. With a
                    high specification throughout, secure private undercroft parking behind remotely
                    controlled access gates and Berkeley's quest for excellence, these are homes of
                    unparalleled appeal. Imposing, contemporary architecture sets the scene for the
                    sleek style of the interiors at Terrace Yard, where form blends perfectly with function
                    to create homes beautifully designed for modern living. Living areas have been designed
                    as fluid spaces, seamlessly linking rooms to provide an environment that's perfect
                    for entertaining and family life alike.</p>
                <p>
                    At the heart of the home, the kitchens feature Italian designer furniture, reflecting
                    the cutting edge, contemporary architecture. Stone worktops, glass back panelling,
                    mood lighting and a comprehensive range of Siemens appliances enhance the appeal
                    of this functional space creating an ultimate environment of luxury living.</p>
                <p>
                    On the third floor each home benefits from the desirable advantage of a west facing
                    terrace. With the flexibility of the floor layouts this fabulous outdoor space can
                    be enjoyed from either a bedroom or living area. Providing panoramic views this
                    is the perfect place to relax and watch the sun go down.</p>
                <h4>
                    Features</h4>
                <div class="row">
                    <div class="span2">
                        <ul>
                            <li>Exceptional setting</li>
                            <li>5 Bedrooms</li>
                            <li>70ft Garden</li>
                        </ul>
                    </div>
                    <div class="span2">
                        <ul>
                            <li>3 reception rooms</li>
                            <li>Off Street Parking</li>
                            <li>4 bedroom suites</li>
                        </ul>
                    </div>
                    <div class="span2">
                        <ul>
                            <li>5000sq ft space</li>
                            <li>Expansion space</li>
                            <li>Separate Studio</li>
                        </ul>
                    </div>
                    <div class="span2">
                        <ul>
                            <li>Study room</li>
                            <li>Garaging</li>
                            <li>Swimming Pool</li>
                        </ul>
                    </div>
                </div>
                <br />
                <h4>
                    Other properties in this area</h4>
                <ul class="thumbnails">
                    <li class="span2">
                        <div class="thumbnail mini_property">
                            <a href="map_properties.html">
                                <img src="/content/css/images/houses/house_1.jpg" alt=""></a>
                            <h5>
                                Price : &pound;3,350,000</h5>
                            <p>
                                <a href="map_properties.html">7 bedroom house</a><br />
                                The Vineyard, Richmond, TW10</p>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail mini_property">
                            <a href="map_properties.html">
                                <img src="/content/css/images/houses/house_2.jpg" alt=""></a>
                            <h5>
                                Price : &pound;229,950</h5>
                            <p>
                                <a href="map_properties.html">1 bedroom flat</a><br />
                                Lower Mortlake Road, North Sheen</p>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail mini_property">
                            <a href="map_properties.html">
                                <img src="/content/css/images/houses/house_3.jpg" alt=""></a>
                            <h5>
                                Price : &pound;520,000</h5>
                            <p>
                                <a href="map_properties.html">2 bedroom apartment</a><br />
                                Mount Ararat Road, Richmond</p>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail mini_property">
                            <a href="map_properties.html">
                                <img src="/content/css/images/houses/house_4.jpg" alt=""></a>
                            <h5>
                                Price : &pound;550,000</h5>
                            <p>
                                <a href="map_properties.html">2 bedroom house</a><br />
                                The Shakespeare</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="span4 pull-right" id="portamento_container">
        <div id="property_map" class="center">
            <a href="#mapModal">
                <img src="http://maps.google.com/staticmap?center=51.46125,-0.30375&amp;zoom=15&amp;size=250x250&amp;maptype=mobile&amp;markers=51.46125,-0.30375,red&amp;key=ABQIAAAAqQJ-gFBKUbBLaFN1HQF4KBQ_k2Fxd8XZtbWUsvz5Vrarxzf2SRSh7DRXLQmAZ-6XwtrmMhkINGT27A&amp;sensor=false"
                    alt="" /></a>
            <p>
                <br />
                <a data-toggle="modal" href="#mapModal">View larger map</a><br />
                <a data-toggle="modal" href="#streetModal">Street view</a><br />
                <a href="compare.html">Compare this property with others</a></p>
            <hr />
        </div>
        <div id="contact_agent" class="center">
            <a href="listings.html">
                <img alt="" src="/content/css/images/remax-logo-color.jpg" /></a>
            <p>
                RE/MAX properties, inc.<br />
                61 Walton Road, East Molesey, KT8 0DP</p>
            <h4>
                Contact this agent</h4>
            <form class="form-inline">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <input type="text" placeholder="Your name" class="input-large">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="text" placeholder="Phone" class="input-large">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="text" placeholder="Email address" class="input-large">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <textarea rows="3" id="textarea" class="input-xlarge">I am interested in 61 Walton Road, East Molesey, KT8 0DP. Please tell me when I can have a look at the property.</textarea>
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary btn-large" type="submit">
                        Contact agent</button>
                </div>
            </fieldset>
            </form>
        </div>
    </div>
</div>